.main{
    text-align: center;
    background-image: url("./young-girl-enjoying-beauty-nature-600nw-1825893164.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 38px;
    background-position: center;
    margin: 12px;
    background-attachment: fixed;
    padding: 800px 200px;
    color: palevioletred;
    text-shadow: 5px 5px 6px white;
}
p{
    font-size: 20px;
    font-style: italic;
}
.place{
    background-color: bisque;
    text-align: center;
}
.sec{
    text-align: center;
    font-size: 20px;
    color: crimson;
    background-color: bisque;
}
.place img{
    width: 400px; 
    height: 300px;        
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 20px;
}